.UserContainer-WithoutContext {
    background-color: darkkhaki;
    padding: 5px 20px 2px 20px;
}

.UserContainerContent-WithoutContext {
    background-color: aqua;
    padding: 5px 20px 2px 20px;
}

.UserContainerBody-WithoutContext {
    background-color: cornflowerblue;
    padding: 5px 20px 2px 20px;
}

.UserInfo-WithoutContext {
    background-color: blanchedalmond;
    padding: 5px 20px 2px 20px;
}

.title-WithoutContext {
    font-weight: bold;
}
